html,body{
    background-color: antiquewhite;
}
.container{
    margin-top: 5%;
    border-style: dashed;
    background-color: bisque;
}
.col-md-3{
    border-style: dotted;
    border-top: none;
    border-left: none;
    border-bottom: none;
}
